---
layout: base.njk
---

<header>
  {% block navPrimary %}
    {% include "navPrimary.njk" %}
  {% endblock %}
</header>

{% block main %}
<main>
  <article>
    {{ content | safe }}
  </article>
</main>
{% endblock %}

<footer>
{% block footer %}
  {% include "footer.njk" %}
{% endblock %}
</footer>
