/* FOOTER
===========================================
===========================================*/

footer {
  background-color: var(--color-primary-900);
  color: var(--white);
  margin-block-start: var(--spacing-xl);
}

  footer > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xl);
  }