/* FORMS
===========================================
===========================================*/
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  display: none;
}

label {
  display: block;
}

input:user-invalid,
textarea:user-invalid {
  border-color: red;
}

@supports not selector(:user-invalid) {
  [data-js-enabled='false'] input:invalid {
    border-color: red;
  }
}